<h1>Add</h1>
<form class="form-inline" action="/purchases/addPurchases"  method="POST">
	<label for="product">Product</label> 
	<select class="form-control input-sm" id="">
		{{#each products}}
			<option value="{{products_id}}">{{products_name}}</option>
		{{/each}}
	</select>
	
	<label for="date">Date </label>  <input class="form-control input-sm" type="date" date="date" value="{{date}}">

	<label for="Quantity">Quantity</label> <input class="form-cotrol input-sm" type="number" min="0" quantity="qty" value="{{qty}}">

	<label for="cost Price">Cost Price</label> <input class="form-cotrol input-sm" type="number" min="0" Cost Price="cost_price" value="{{cost_price}}">
	
	<input class="btn btn-default" type="submit">
</form>